* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin: 10px;
}

h1 {
    padding: 10px;
}

.code-container {
    color: #fff;
    position: relative;
    background: #222;
    border-radius: 8px;
    padding: 20px;
    padding-top: 40px;
}

.copy {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.copy:hover {
    color: aqua;
    transform: scale(1.5);
}